# Игнорирование служебных файлов ОС
.DS_Store
Thumbs.db

# Игнорирование логов и зависимостей
npm-debug.log*
node_modules/

# Игнорирование папки окружения (если будете использовать)
.env
.env.local

# Игнорирование папки сборки (если будете использовать)
dist/
build/